body{
  background:rgb(221, 216, 226);
  font-family: 'Oswald', sans-serif;
}

.App {
  /* width: 100vw; */
  margin: 0 auto;
  /* border:1px solid #333; */
}


.img {
  display: flex;
  justify-content: center;
}

.bg-image {
  width: 50%;
  height: 30%;
}

.fa {
  margin-right: 15px;
}

.fa-facebook {
  color: rgb(30, 122, 228);
}

.fa-twitter {
  color: rgb(23, 174, 219);
}

.fa-instagram {
  color: rgb(223, 108, 41);
  
}
.fa-whatsapp {
  color: rgb(63, 189, 14);
}
.btn btn-primary btn-block{
  color: rgb(23, 170, 170);
  text-decoration-color: white;
}